<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.mapper.OnLineUserMapper">
    <resultMap id="baseResultMap" type="com.dragon.model.dto.OnlineUserDTO">
        <id property="id" column="id"/>
        <result property="token" column="token"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="base_column">
        id, token, userId, create_time
    </sql>

    <insert id="addOnlineUser" parameterType="com.dragon.model.dto.OnlineUserDTO" useGeneratedKeys="true"
            keyProperty="id">
        insert into online_user(
        token,
        user_id,
        create_time
        )values(
        #{onlineUser.token},
        #{onlineUser.userId}
        #{onlineUser.createTime}
        )
    </insert>

    <update id="deleteOnlineUserByToken" parameterType="java.lang.Integer">
        update online_user
        set is_delete = 1
        where token = #{token}
    </update>


    <select id="getLoginUserByToken" parameterType="java.lang.String" resultType="com.dragon.model.vo.UserVO">
        select
        u.nick_name as nickName, u.email as email, ou.token as token,
        u.phone_number = phoneNumber, u.create_time as createTime
        from online_user as ou
        inner join user as u on ou.user_id = u.id
        where ou.token = #{token} and ou.is_delete = 0
    </select>

</mapper>